
<meta name="viewport" content="width=device-width, initial-scale=1">


.xyz{

 }






.container {
    border: 3px solid #fff;
    padding: 20px;
    display:flex;
    justify-content: center;
    flex-direction:row;
}

.child1 {
 
    padding:20px;
}

.child2 {

    padding-bottom: 20px;   
    
}  

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.child2 input:focus{
outline: none;
}


 input{
    line-height: 25px;
    
    }

 


    button{
    
    width: 25px;
    height: 30px;
    margin-right: 4px
    }

.heading{
       
        display: flex;
        justify-content: center;
        font-size: 25px;
        font-weight: 20;
        color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 50px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center
    }
    





